<p>header works!</p>
<div class="container-fluid mt-1 p-2">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-5 bd-highlight logo">ClearTrip</div>
        <div class="p-1 me-5 bd-highlight">
            <button type="button" class="btn btn-primary px-3">Login/SignUp</button>
        </div>
    </div>

    <div class="container w-75 mt-2 p-2 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column" routerLink="/hotels" >
                                <img src="https://tse4.mm.bing.net/th?id=OIP.9uj08Nl25SsmwHtvhcQbxwHaIo&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span> Hotels </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column" routerLink="/flights" >
                                <img src="https://cdn1.iconfinder.com/data/icons/bokbokstars-121-classic-stock-icons-1/512/airplane.png"
                                    alt="" width="60" height="60">
                                <span>Flights</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.hwvULPOEsw1_h1euNljPEgHaHa&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span> HomeStays </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse1.mm.bing.net/th?id=OIP.RuYAidACq9utQ1UDwBSQbwAAAA&pid=Api&P=0&h=220" alt="" width="60"
                                    height="60">
                                <span>Trains</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse3.mm.bing.net/th?id=OIP.5IsnyKrZ2jTA9CEKIcZZiAHaHa&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span>Buses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse2.mm.bing.net/th?id=OIP.RqYMA3Ju1RuFclSQ-1ZeHAHaGL&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span>Cabs</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse2.mm.bing.net/th?id=OIP.pdmVhQ537L9s0AUGV1tVawHaFg&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span>Holiday Packages</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex flex-column">
                                <img src="https://tse1.mm.bing.net/th?id=OIP.HsV7poboPAwMOub2_r0QbQHaHa&pid=Api&P=0&h=220"
                                    alt="" width="60" height="60">
                                <span>Travel Insurance</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>