<p>hotels works!</p>
<div class="container p-2 mt-0 border rounded">
    <div class="row ms-1">
        <h4 class="mb-0">Search Hotels</h4>
        <p class="fs-bold mt-0">Enjoy hassle free bookings with Cleartrip</p>
    </div>
    <div class="row border border-primary  rounded m-2 p-2">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="id1" class="form-label">City</label>
                <input type="text" class="form-control py-2" id="id1" name="cityName" [(ngModel)]="city">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="id2" class="form-label">Select Date</label>
                <input type="text" id="id2" class="form-control" name="selDate" [(ngModel)]="selectedDate" (ngModelChange)="dateChange()" placeholder="Daterangepicker" class="form-control"
                    bsDaterangepicker>
            </div>
            {{selectedDate}}

        </div>
        <div class="col-md-4">
            <label for="id2" class="form-label">Rooms</label>
            <div class="dropdown curosr">
                <button class="btn border dd dropdown-toggle w-75" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  1 Room,2 Adults
                </button>
                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton1">

                  <li><a class="dropdown-item dd" *ngFor="let opt of roomsOptArr" (click)="selectRooms(opt)">{{opt}}</a></li>
                  <!-- <li><a class="dropdown-item dd"> 1 Room,2 Adults</a></li>
                  <li><a class="dropdown-item dd"> 2 Room,4 Adults</a></li> -->
                </ul>
              </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary px-5 m-1" routerLink="/hotels/search-hotels" [queryParams]="{city:city,checkIn:checkInDate,checkout:checkOutDate,rooms:selRooms}">Search Hotels</button>
        </div>

    </div>

</div>